:root{
  --backgraund: #201b2c;
  --title-color: #00ff88;
  --form-backgraund: #2f2841;
  --input-backgraund: #514869;
  --input-text-color: #f0ffffde;
  --input-placeholder: #f0ffff94;
  --box-shadow: #00000056;
  --btn-text-color: #2b134b;
  --btn-backgraund-color: #00ff88;
  --btn-shadow-color: #00ff8852;
  --register-mensager-color: springgreen;
}

* {
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--backgraund);
  display: flex;
  align-items: center;
  justify-content: center;
}


.container-form {
  width: 60%;
  padding: 30px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--form-backgraund);
  border-radius: 20px;
  box-shadow: 0px 10px 40px var(--box-shadow);
}

.container-form > h1 {
  color: var(--title-color);
  font-weight: 800;
}

.textfild {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0;
}

.textfild > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background-color: var(--input-backgraund);
  color: var(--input-text-color);
  font-size: 12px;
  box-shadow: 0px 10px 40px var(--box-shadow);
  outline: none;
  box-sizing: border-box;
}

.textfild > input::placeholder{
  color: var(--input-placeholder);
}

.textfild > label {
  color: var(--input-text-color);
  margin: 10px 0;
}

.btn-login {
  width: 100%;
  padding: 15px 0;
  margin: 25px;
  border: none;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: var(--btn-text-color);
  background-color: var(--btn-backgraund-color);
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px var(--btn-shadow-color);
}

.container-messager > p {
    color: var(--input-text-color);
    position: relative;
    margin: 5px 0;
    left: -20px;
    font-size: 12px;
}

.register-mensager {
  color: var(--register-mensager-color) !important;
}

.left-image{
  width: 300px;
  height: 300px;
}

@media only screen and (max-width: 600px){
  .container-form{
    width: 100%;
    height: auto;
  }
}